.navigation-dock
	background-color #eee


.table > tbody > tr > th
	padding 0
th > span
	background-color #eef
	border 1px solid #ccd
	border-width 0 1px 0 0
	display inline-block
	padding 5px 5px
	margin 0